<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Naif profile site" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naif's profile dev mode</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('./includes/header.ejs') %>

    <!-- hero section -->
    <%- include('./includes/hero.ejs') %>

    <!-- about us -->
    <%- include('./includes/about-us.ejs') %>

    <!-- services -->
    <%- include('./includes/services.ejs') %>

    <!-- works section -->
    <%- include('./includes/work.ejs') %>

    <!-- contact us section -->
    <%- include('./includes/contact.ejs') %>

    <!-- footer -->
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
